body{
	background-color: #EFFBEF;
}

@media (min-width: 320px) {
	.root{
		text-align: center;

	}

	#loginSession{
		text-align: center;
	}

  .logo-img {
    width: 300px;
    position: absolute;
    text-align: center;
  }

  .container-login{
  	position: absolute;
  	margin-top: 400px;
  }
}

